*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
}

.logo-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.6);
}

/* letter R  */
#logo path:nth-child(1){
    stroke-dasharray: 174px;
    stroke-dashoffset: 174px;
    animation: stroke-animation 0.3s ease-in forwards 0.6s;
}

/* letter O  */
#logo path:nth-child(2){
    stroke-dasharray: 267px;
    stroke-dashoffset: 267px;
    animation: stroke-animation 1s ease-in forwards;
}

/* bottom left N  */
#logo path:nth-child(3){
    stroke-dasharray: 258px;
    stroke-dashoffset: 258px;
    animation: stroke-animation 0.3s ease-in forwards 0.8s;
}

/* top right N  */
#logo path:nth-child(4){
    stroke-dasharray: 258px;
    stroke-dashoffset: 258px;
    animation: stroke-animation 0.8s ease-in forwards 0.2s;
}

/* letter E */
#logo path:nth-child(5){
    stroke-dasharray: 121px;
    stroke-dashoffset: 121px;
    animation: stroke-animation 0.3s ease-in forwards 1s;
}

/* letter I  */
#logo path:nth-child(6){
    stroke-dasharray: 381;
    stroke-dashoffset: 381;
    animation: stroke-animation 0.3s ease-in forwards 0.5s;
}

@keyframes stroke-animation{
    to {
        stroke-dashoffset: 0;
    }
}